<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/docs/' %} active {% endif %}"><a href="{{ "/docs/" | absolute_url }}">Docs</a></li>
  <li class="{% if page.url contains '/demos/' %} active {% endif %}"><a href="{{ "/demos/" | absolute_url }}">Demos</a></li>
  <li class="{% if page.url contains '/frontend/' %} active {% endif %}"><a href="{{ "/frontend/" | absolute_url }}">front-end</a></li>
  <li class="{% if page.url contains '/tools/' %} active {% endif %}"><a href="{{ "/tools/" | absolute_url }}">tools</a></li>
  <li class="{% if page.url contains '/backend/' %} active {% endif %}"><a href="{{ "/backend/" | absolute_url }}">back-end</a></li>
  <!--<li class="{% if page.url contains '/others/' %} active {% endif %}"><a href="{{ "/others/" | absolute_url }}">others</a></li>-->
</ul>
